* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

.navbar {
    position: sticky;
    background-color: rgb(235, 182, 222);
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;

}

.nav-logo-img {
    width: 250px;
    height: auto;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 10px;
}

.nav-link:hover {
    color: #ff72f3;
    background-color: #f5f5f550;
}
@media screen and (max-width: 768px) {
    .nav-container{
        flex-direction:column ;
    }
}


