* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ffffff 10%, #ffffff 50%);
}

.navbar {
    position: sticky;
    background-color: rgb(252, 205, 239);
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 54px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.pokemon-card {
    background-color: rgba(245, 245, 220, 0.596);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: calc(33.333% - 32px);
    max-width: calc(33.333% - 32px);
    ;
    min-width: 300px;


}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;

}

.nav-logo-img {
    width: 160px;
    height: auto;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 10px;
}

.nav-link:hover {
    color: #d142c5;
    background-color: #f5f5f550;
}

@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }
}